@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #94BEEB, #4589D1);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #424a52b7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #34679E;
    text-align: center;
    text-shadow: 1px 1px 2px #424A52 ;
}

h2{
    color:  #34679E;
}

p{
    text-align: justify;
}