@charset "UTF-8";

body{
    background-color: rgb(225, 207, 241);
    font-family: Arial, Helvetica, sans-serif;
}
   
h1{
    color: #9569A8;
}

h1#principal{
    color: #5A3F66;
    text-align: center;
    background-color: rgb(178, 112, 236);
}
h2{
    color: rgb(142, 93, 185);
}

.basico{
    color: #D796F2;
}

.intermediario{
    color: #CB8EE6;
}

.avancado{
    color: #B57ECC;
}

.destaque{
    background-color: #9f75bb88;
}