@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto+Condensed:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    margin: 0%;
    padding: 0%;
}


:root{
    --cor1 : #353030;
    --cor2 : #000000;
    --cor3 : #FFF6ED;
    
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif; 
    --fonte-titulo: 'Libre Baskerville', serif;
    --fonte-principal: 'Libre Baskerville', serif;
}

html,body{
    min-height: 100vh;
    background-color: grey;
      
}

header{
    color: var(--cor3);
    text-align: center;
    background-color: var(--cor1);  
 
}

header > h1{
    font-family: var(--fonte-titulo);
    font-size: 3.2em;
    font-variant: small-caps;
    
    padding-top: 50px ;
    padding-bottom: 10px;
 
    font-size: 7vw;
}

header p{   
    font-size: 1.3em;
    padding-bottom: 50px ;
}

header a, footer a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    color: var(--cor2);
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 1.7em;
    font-size: 3.5vw;
}

section.normal{
    color: var(--cor2);
    background-color: var(--cor3);
}

section.imagem{
    color: var(--cor3);
    background-color: var(--cor1);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


section.imagem p{
    width: 50vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.658);
}

section#pimg1{
    background-image: url('../imagens/pimg1.jpeg');
    background-position: center;
    
}

section#pimg2{
    background-image: url('../imagens/pimg2.jpeg');
    background-position: center;   

}

section#pimg3{
    background-image: url('../imagens/pimg3.jpeg');
    background-position: center;
    
}

section#pimg4{
    background-image: url('../imagens/pimg4.jpeg');
    background-position: bottom center;
   
}

footer{
    color: var(--cor3);
    background-color: var(--cor1);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}





